.selector-for-some-widget {
  box-sizing: content-box;
}

body{
	background-image: url('../Images/fblue.jpg');
	font-family: 'Rubik', sans-serif;
}

/*Sección 1*/

.barra{
	background-color: black;
	font-family: 'Orbitron', sans-serif;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link:hover {
    color: #F3C677;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active{
    color: #F3C677;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #F3C677;
}

li:focus, a:focus {
    outline: none;
}

/*Sección 2*/

.sep12{
	margin-top: 60px;
}

.vs{
	color: black;
	font-size: 35px;
}

.seplite{
	margin-top: 10px;
}

.estacal{
	color: transparent;
	font-size: 22px;
	height: 90px;
	width: 200px;
	/*background-color: #ce9729;*/
	background-color: transparent;	
}

.estares{
	color: transparent;
	font-size: 25px;
}

.convert{
	height: 260px;
	width: 1200px;
	background-color: #fff;
	box-shadow: 3px 3px 3px 3px #888888;
}

.result{
	margin-top: 50px;
}

.select{
	margin-top: 30px;
}

.selector{
	margin-top: 20px;
} 

.key{
	background-color: #ce9729;
	/*border: 2px solid #26427b;*/
	border-radius: 5px;
}

.key2{
	color: white;
}

.imp{
	border-left: none;
	border-top: none;
	border-right: none;
	background-color: transparent;
	border-color: black;
	border-width: 3px;
	border-radius: none;
}

.imp:hover{
	border-color: #ce9729;
	transition: border-color .25s ease-in-out,box-shadow .15s ease-in-out;
}

.imp:focus{
	color: black;
    background-color: transparent;
    border-color: #ce9729;
    outline: 0;
    box-shadow: none;
}

.imp2{
	width: 280px;
	background-color: #26427b;
	color: white;
	border-radius: 15px;
}

.imp2:focus{
	color: white;
    background-color: #26427b;
    border-color: #26427b;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(206,151,41,.75);
}

.imp2:hover{
    border-color: #26427b;
    box-shadow: 0 0 0 0.2rem rgba(206,151,41,.75);
}

.pos{
	color:green;
}

.neg{
	color:red;
}

.sec5c{
    margin-top: 110px;
    background-color: #ce9729;
    height: 100px;
}

.copy{
    height: 80px;
    width: auto;
    margin-top: 10px;
}

.fotex{
    margin-top: 30px;
    color: black;
    font-family: 'Orbitron', sans-serif;
}

.fotex:hover{
    color: #fff;
}

.testgab{
	height: 500px;
	width:1500px;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}